<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!-- <add name="Salud.Security.SSO.Properties.Settings.SSOMembershipProviderConnectionString"
            connectionString="Data Source=10.1.232.230;Initial Catalog=SSO;Persist Security Info=True;User Id=sa; Password=ssecure;"
            providerName="System.Data.SqlClient" />
        <add name="Salud.Security.SSO.Properties.Settings.SSOConnectionString"
            connectionString="Data Source=10.1.232.230;Initial Catalog=SSO;Persist Security Info=True;User ID=sa;Password=ssecure"
            providerName="System.Data.SqlClient" />       -->
			<add name="Salud.Security.SSO.Properties.Settings.SSOMembershipProviderConnectionString"
            connectionString="Data Source=10.1.232.230;Initial Catalog=SSO;User Id=lp25334392;Password=zapala76;" />
        <add name="Salud.Security.SSO.Properties.Settings.SSOConnectionString"
            connectionString="Data Source=10.1.232.230;Initial Catalog=SSO;User Id=lp25334392;Password=zapala76;" />      
        </connectionStrings>
</configuration>